<ion-header>
  <ion-toolbar>
    <ion-title>Triple Helix DNA Score</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div id="container" *ngIf="!value || value.length==0">
  <ion-spinner></ion-spinner>
  <p>please wait</p>
</div>


<ion-list id="container" *ngIf="value && value.length!=0">
  <ion-item color="danger"><b>{{value[0].result}}</b></ion-item>
  <ion-item> <ion-label slot="start">Kapha</ion-label><ion-label slot="end">{{value[0].k}} %</ion-label></ion-item>
  <ion-item> <ion-label slot="start">Pitta</ion-label><ion-label slot="end">{{value[0].p}} %</ion-label></ion-item>
  <ion-item> <ion-label slot="start">Vaat</ion-label><ion-label slot="end">{{value[0].v}} %</ion-label></ion-item>
</ion-list>




