<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="mytest">back</ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-label><h1>Ayurveda DNA Score</h1>
      </ion-label></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div id="container" *ngIf="!value || value.length==0">
  <ion-spinner></ion-spinner>
  <p>please wait</p>
</div>



<ion-list *ngIf="value && value.length!=0">
  <ion-item>
    <ion-img id="helix" src="/assets/thelix.png"></ion-img>
  </ion-item>
  <ion-item color="light"><ion-label><h1>Your A-DNA type is </h1></ion-label><h2><b>{{value[0].result}}</b></h2></ion-item>
  <ion-item> <ion-label slot="start">Kapha</ion-label><ion-label slot="end">{{value[0].k}} %</ion-label></ion-item>
  <ion-item> <ion-label slot="start">Pitta</ion-label><ion-label slot="end">{{value[0].p}} %</ion-label></ion-item>
  <ion-item> <ion-label slot="start">Vaat</ion-label><ion-label slot="end">{{value[0].v}} %</ion-label></ion-item>
  <ion-button fill="clear" color="primary" *ngIf="!analytics" (click)="analytics = true">Click to show user analytics</ion-button>
</ion-list>

<div  *ngIf="value && value.length!=0 && analytics">
<ion-list>
  <ion-item color="light">
    <ion-label><h1>A-DNA by Users</h1></ion-label> 
  </ion-item>
  <ion-item>
    <p>Below chat shows number of users in each A-DNA category</p>
  </ion-item>
  <ion-item *ngFor="let key of vpk_count_keys"> 
    <ion-label slot="start">{{key}}</ion-label><ion-label slot="end">{{vpk_count_analytics[key]}} </ion-label>
  </ion-item>
  

  <ion-button fill="clear" color="primary" *ngIf="analytics" (click)="analytics = false">Hide</ion-button>
</ion-list>
</div>


