<ion-header>
  <ion-toolbar>
    <ion-title>Pumba</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div id="container">
        <strong>Q-up without being there</strong>
        <p>Search and join queues without physically being there</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div id="container">
        <strong>Check wait times</strong>
        <p>Check your wait times and go just when you are about to be called-in</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div id="container">
        <strong>Not ready when called?</strong>
        <p>Not ready when called? No worries, just "Yield" a couple of places? </p>
      </div>
    </ion-slide>
    <ion-slide>
        <ion-buttons>
          <ion-button color="primary" size="small" routerLink='/questionnaire'>Get started</ion-button>
        </ion-buttons>
    </ion-slide>
  </ion-slides>
</ion-content>
