
<ion-content [fullscreen]="true"> 
  <div id="container">
    <ion-img src="assets/logo.png" style="height:200px; "></ion-img>
    <br/>
    <br/>    
    <br/>

    <ion-label *ngIf="isSignedIn">You are signed in. 
      <ion-router-link href="mytest">Click here to proceed to your VPK test</ion-router-link>
    </ion-label>
   
    <br/>
    <br/>

      <ion-button *ngIf="isSignedIn" color="danger" (click)="logout()">Sign Out</ion-button>

    <!-- refer to documentation here 
    https://github.com/RaphaelJenni/FirebaseUI-Angular
    --> 
    <firebase-ui (signInSuccessWithAuthResult)="loginSucceeded($event)" 
    (signInFailure)="loginFailed($event)" ></firebase-ui>
    <!--
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    -->
  </div>

  

</ion-content>
