
<ion-content [fullscreen]="true"> 
  <div id="container">
    <ion-img src="assets/logo.png" style="height:200px; "></ion-img>
    <br/>
    <br/>    
    <br/>

    <p *ngIf="isSignedIn">You are signed in. </p>
    <p  *ngIf="isSignedIn"><ion-router-link href="mytest">Click here to proceed to your VPK test</ion-router-link></p>
   
    <br/>
    <br/>
    <br/>
    <br/>

    <br/>

      <ion-button fill="outline" shape="round" *ngIf="isSignedIn" color="dark" (click)="logout()">Sign Out</ion-button>

    <!-- refer to documentation here 
    https://github.com/RaphaelJenni/FirebaseUI-Angular
    --> 
  
    <p *ngIf="!isSignedIn">Please sign in for your Ayurvedic profile</p>
    <firebase-ui (signInSuccessWithAuthResult)="loginSucceeded($event)" 
    (signInFailure)="loginFailed($event)" ></firebase-ui>
    <!--
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    -->
  </div>

  

</ion-content>
